$primary-text-color: #333333;
$secondary-text-color: #FFFFFF;
$primary-background-color: #E1DBD1;
$primary-background-color-alt: #E9E9E9;
$primary-color: #59885E;
$unfocus-color: #CCCCCC;
$input-background-color: #EFEFEF;